<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8">
    <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
</head>
<body>
<header>
    <h1>Объявления</h1>
</header>
<nav>
    <a href="{% url 'index' %}">Главная</a>
    <a href="{% url 'add' %}">Добавить </a>
    {% for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
    {% endfor %}
</nav>
<section>
    {% block content %}
    {% endblock %}
</section>
</body>
</html>